<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About me</title>
   <link rel="stylesheet" href="about.css">
   <link rel="icon" href="/weather.png">
   
</head>
<body>
    

   <div id="header">{{>header}}</div>
      <h2>About me</h2>
    <span><h2>Hi,this is Abhishek Kumar.</h2>
       <h2> I am junior student at Harcourt Butler Technical University,Kanpur Nagar</h2>
    </span>
    <div><h2>I am a Fullstack Developer(MERN Stack)</h2></div>
    {{!-- <img src='map.jpg'/> --}}
    <div id="footer">
       <h2>Created by {{name}}</h2>
   </div>
     <script src="index.js"></script>
</body>
</html>