<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>weather app</title>
    <link rel="icon" href="/weather.png">
      <link rel="stylesheet" href="about.css">
</head>
<body>
    
   {{!-- <h1> {{title}}</h1> --}}
    <div id="header">{{>header}}</div>
      <div class="form">
         
      <p style="font-size: 22px;">Search your weather</p>
      
   
       <form>
       <input id="input"/>
       <button id="btn">search</button>
   </form>
   
 </div> 
 <div>
     <p id="message-1"></p>
   <p id="message-2"></p>

    
 </div>
   <div id="footer">
       <h2>Created by {{name}}</h2>
   </div>
<script src="index.js"></script>
</body>
</html>